{% if not father is defined %}{% set father = null %}{% endif%}
{% if content != null %}

    {% if is_granted('ROLE_HOME_MANAGER') and publish is defined and not publish %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong><i class="fa fa-exclamation-triangle"></i> {{ 'unpublish_page' | trans({}, 'home') }}</strong>
            <a class="alert-link" href="{{ path('claroline_types_manager') }}">{{ 'unpublish_link' | trans({}, 'home') }}</a>
        </div>
    {% endif %}
    {% if region is not defined or (region is defined and region != 'header' and region != 'footer') %}
        {% render(controller("ClarolineCoreBundle:Home:creator", { 'type': type, 'id': null, 'content': null, 'father': father })) %}
    {% endif %}

    {% if father is empty %}
        <div class="contents">
            {{ content | raw }}
        </div>
    {% else %}
        {{ content | raw }}
    {% endif %}

{% endif %}

{% if father is empty %}
    {% set params = app.request.attributes.get('_route_params') %}
    {% if params.type is defined %}
        {% if params.type == "your_workspace" %}
            <div class="contents">
                <div class="content-12">
                    <div class="content-element 12">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{ 'products'|trans({}, 'platform') }} </h3>
                                </div>
                            <div class="panel-body">
                                {{ render(controller("FormaLibreInvoiceBundle:SharedWorkspace:iframeForms")) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
