{% macro item(params) %}
    <li role="presentation" {% if params.id is defined and params.id is not empty %} id="{{ params.id }}" {% endif %}class="{% if params.dropdown is defined and params.dropdown is not empty %}dropdown{% endif %}{{ params.route | default(' ') | compareRoute(' active') | raw }}">
        <a  role="menuitem"
            {% if params.dropdown is defined and params.dropdown is not empty %}class="pointer-hand dropdown-toggle" data-toggle="dropdown"{% endif %}
            {% if params.href is defined and params.href is not empty %}href="{{ params.href }}"{% endif %}
            {% if params.title is defined and params.title is not empty %}title="{{ params.title }}"{% endif %}
            >
            {% if params.icon is defined and params.icon is not empty %}<i class="fa fa-{{ params.icon }}"></i> {% endif %}
            <span {% if params.breakhide is defined %}class="break-hide"{% endif %}>
                {% if params.name is defined %} {{ params.name | trans({}, 'platform') }} {% endif %}
            </span>
            {% if params.badge is defined and params.badge is not empty %}<span class="badge">{{ params.badge }}</span>{% endif %}
            {% if (params.dropdown is defined and params.dropdown is not empty) and (params.hideArrow is not defined or params.hideArrow is empty) %}<i class="caret"></i>{% endif %}
        </a>
        {% if params.dropdown is defined and params.dropdown is not empty %}
        {{ params.dropdown | raw }}
        {% endif %}
    </li>
{% endmacro %}

{% block topBar %}
    <div id="invoice_top_bar" class="navbar invoice-navbar-inverse invoice-navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {#<span id="invoice-language-box">
                    <span class="locale-select label label-default">
                        {{ app.request.locale | upper }}
                    </span>
                </span>#}
            </div>
            <div id="invoice-topbar-navbar-center" class="navbar-collapse collapse col-md-offset-2">
                
                <ul id="invoice-topbar-navbar-center-list" class="nav navbar-nav">
                    {% if isLogged %}
                        <li class="invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-link"
                            data-name="{{ 'home'|trans({}, 'platform') }}"
                        >
                            <a href="{{ path('claro_desktop_open') }}">
                                {{ 'home'|trans({}, 'platform') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                        </li>
                        {#<li class="invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-link"
                            data-name="{{ 'supports'|trans({}, 'theme') }}"
                        >
                            <a href="{{ path('formalibre_support_index') }}">
                                {{ 'supports'|trans({}, 'theme') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                        </li>#}
                    {% else %}
                        <li class="invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-link"
                            data-name="{{ 'home'|trans({}, 'platform') }}"
                        >
                            <a href="http://claroline.com">
                                {{ 'home'|trans({}, 'platform') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                        </li>
                        <li class="dropdown invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-dropdown"
                            data-name="{{ 'hosts'|trans({}, 'theme') }}"
                        >
                            <a href="#" class="dropdown-toggle">
                                {{ 'hostings'|trans({}, 'theme') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                            <ul class="dropdown-menu invoice-topbar-navbar-center-dropdown-menu">
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/your_workspace">
                                        {{ 'workspace'|trans({}, 'platform') }}
                                    </a>
                                </li>
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/Campus">
                                        {{ 'campus'|trans({}, 'theme') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-dropdown"
                            data-name="{{ 'supports'|trans({}, 'theme') }}"
                        >
                            <a href="#" class="dropdown-toggle">
                                {{ 'supports'|trans({}, 'theme') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                            <ul class="dropdown-menu invoice-topbar-navbar-center-dropdown-menu">
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/Support_technique">
                                        {{ 'technical_support'|trans({}, 'theme') }}
                                    </a>
                                </li>
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/Support_administratif">
                                        {{ 'functional_support'|trans({}, 'theme') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-dropdown"
                            data-name="{{ 'trainings'|trans({}, 'theme') }}"
                        >
                            <a href="#" class="dropdown-toggle">
                                {{ 'trainings'|trans({}, 'theme') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                            <ul class="dropdown-menu invoice-topbar-navbar-center-dropdown-menu">
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/E-learning">
                                        {{ 'our_elearning'|trans({}, 'theme') }}
                                    </a>
                                </li>
                                <li class="invoice-topbar-navbar-center-dropdown-item">
                                    <a href="http://claroline.com/type/Nos_parcours">
                                        {{ 'our_learning_paths'|trans({}, 'theme') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown invoice-topbar-navbar-center-title invoice-topbar-navbar-center-title-link"
                            data-name="{{ 'contact'|trans({}, 'theme') }}"
                        >
                            <a href="http://claroline.com/type/Contact">
                                {{ 'contact'|trans({}, 'theme') }}
                            </a>
                            <div class="invoice-topbar-navbar-center-title-underline">
                            </div>
                        </li>
                    {% endif %}
                </ul>

                <ul id="invoice-topbar-navbar-right" class="nav navbar-nav navbar-right">
                    {% if isLogged %}
                        {% import _self as topbar %}
                        
                        {% if adminTools|length > 0 %}
                            {{ topbar.item({'name':'administration', 'dropdown':block('dropdownAdministration')}) }}
                        {% endif %}
                        
                        {% set username = app.user.firstName ~ ' ' ~ app.user.lastName %}
                        {% set user = username | length > 16 ? username | slice(0, 16) ~ '...' : username %}
                        {{ topbar.item({'name':user, 'icon':'user', 'route':'/profile', 'dropdown':block('dropdownLogged')}) }}

                        {% block dropdownLogged %}
                            {{ knp_menu_render('ClarolineCoreBundle:Builder:topBarRightMenu', {}, 'top_bar_right') }}
                        {% endblock dropdownLogged %}
                    {% else %}
                        <li>
                            <button id="invoice-topbar-login-btn" class="btn btn-default btn-sm margin-sm" data-url="{{ login_target }}">
                                {{ 'login'|trans({}, 'platform') }}
                            </button>
                        </li>
                        <li>
                            <button id="invoice-topbar-register-btn" class="btn btn-default btn-sm margin-sm" data-url="{{ register_target }}">
                                {{ 'register'|trans({}, 'platform') }}
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
                
    {% block dropdownAdministration %}
        <ul class="dropdown-menu" role="menu">
            {% for tool in adminTools %}
                {{ 
                    topbar.item({
                        'name': tool.getName()|trans({}, 'tools'),
                        'href': path('claro_admin_open_tool', {'toolName': tool.getName() }),
                        'icon': tool.getClass()
                    })
                }}
            {% endfor %}
        </ul>
    {% endblock dropdownAdministration %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/formalibreclarolinecomtheme/js/topBar.js') }}"
            type="text/javascript"
    >
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{{ asset('bundles/formalibreclarolinecomtheme/css/topBar.css') }}"
          type="text/css"
    />
{% endblock %}

