{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="row banner-row">
        <div class="col-md-12">
            <img src="{{ asset('uploads/customhome/pictures/Accueil/Banner.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
    </div>       

    <div class="row first-row">
        <div class="col-md-4">
            <img src="{{ asset('uploads/customhome/pictures/Accueil/auto_heberge.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
            <p class="text-center first-row-text-title">
                <h3 class="text-center first-row-text-title">
                    Vous h&eacutebergez votre plateforme?
                </h3>
            </p>
            <ul>
                <br>
                <li>
                    <a href="http://claroline.com/type/Support">
                        Supports
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Developpement_specifique">
                        D&eacuteveloppement sur mesure
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Formations">
                        Formations
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Consultance">
                        Consultance
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <img src="{{ asset('uploads/customhome/pictures/Accueil/EDA.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
            <p class="text-center first-row-text-title">
                <h3 class="text-center first-row-text-title">
                    Vous souhaitez ouvrir un campus?
                </h3>
            </p>
            <ul>
                <br>
                <li>
                    <a href="http://claroline.com/type/Formations">
                        Formations
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Support_fonctionnel">
                        Support fonctionnel
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Consultance">
                        Consultance
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <img src="{{ asset('uploads/customhome/pictures/Accueil/Campus.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
            <div class="text-center first-row-text-title">
                <h3 class="text-center first-row-text-title">
                    Vous souhaitez ouvrir un espace d'activit&eacute?
                </h3>
            </div>
            <ul>
                <br>
                <li>
                    <a href="http://claroline.com/type/Support_fonctionnel">
                        Support Fonctionnel
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Formations">
                        Formations
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Consultance">
                        Consultance
                    </a>
                </li>
                <br>
                <li>
                    <a href="http://claroline.com/type/Developpement_specifique">
                        D&eacuteveloppement sur mesure
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/customhome/css/Accueil.css') }}"
          type="text/css"
    />
{% endblock %}
