{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="row banner-row">
        <img src="{{ asset('uploads/customhome/pictures/Campus/Banner.png') }}"
             class="img-responsive"
             alt="Responsive image"
        >
    </div>

    <div class="row first-row">
        <br>
        <br>
        <div class="col-md-3 col-md-offset-3 first-row-image">
            <img src="{{ asset('uploads/customhome/pictures/Campus/shutterstock_124813174.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
        <div class="col-md-4 first-row-text">
            <h3 class="text-center first-row-text-title">
                Un campus &agrave votre disposition
            </h3>
			<br>
            <p class="first-row-text-content">
                Forma-Libre vous donne acc&egraves &agrave un campus qui r&eacutepondra &agrave vos besoins sans vous souciez de son h&eacutebergement.<br> Nous garantissons la maintenance et la s&eacutecurisation de votre plateforme.<br> Vous pouvez &eacutegalement profitez des mises &agrave jours de Claroline Connect une fois celles-ci publi&eacutees.
            </p>
        </div>
    </div>
    <div class="row first-row-separator">
        <br>
        <br>
    </div>

    <div class="row second-row">
        <br>
        <br>
        <div class="col-md-4 col-md-offset-3 second-row-text">
            <h3 class="text-center second-row-text-title">
                Partager vos contenus
            </h3>
			<br>
            <p class="second-row-text-content">
                Claroline Connect est l'outil id&eacuteal pour importer vos formations existantes ou diffusez vos contenus num&eacuteriques d&eacutej&agrave disponible.<br>Claroline Connect vous permet aussi de cr&eacuteer vos cours, parcours et formations &agrave partir de la platforme.
            </p>
        </div>
        <div class="col-md-3 second-row-image">
            <img src=" {{ asset('uploads/customhome/pictures/Campus/shutterstock_253776172.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
    </div>

   <div class="row second-row-separator">
        <br>
        <br>
    </div>


	<div class="row third-row">
        <br>
        <br>
        <div class="col-md-3 col-md-offset-3 third-row-image">
            <img src="{{asset('uploads/customhome/pictures/Campus/shutterstock_143144329.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
        <div class="col-md-4 third-row-text">
            <h3 class="text-center third-row-text-title">
                Communiquer avec les intervenants
            </h3>
            <p class="third-row-text-content">
                Vous pouvez entrer en contact avec les divers intervenants de votre plateforme (enseignants, &eacutetudiants, formateurs, administrateurs) &agrave l'aide des diff&eacuterents outils de communication.<br> - Echanger avec vos coll&egravegues sur les forums<br>- Animer des classes virtuelles<br>- Interagissez en direct grace le chat
            </p>
        </div>
    </div>
    <div class="row third-row-separator">
        <br>
        <br>
    </div>

  <div class="row fourth-row">
    <br>
    <br>
    <div class="col-md-7 col-md-offset-3">
      <table class="table">
  		<thead>
  			<tr>
  				<th>Dur&eacutee</th>
  				<th>100 utilisateurs</th>
  				<th>500 utilisateurs</th>
  				<th>1000 utilisateurs</th>
  			 </th>
  		 </thead>
  		 <tbody>
  			<tr>
  				<td>Mensuel</td>
  				<td>250 &euro;</td>
  				<td>1.100 &euro;</td>
  				<td>2.000 &euro;</td>
  			</tr>
  			<tr>
  				<td>Trimestriel</td>
  				<td>700 &euro;</td>
  				<td>3.200 &euro;</td>
  				<td>5.600 &euro;</td>
  			</tr>
  			<tr>
  				<td>Semestriel</td>
  				<td>1.400 &euro;</td>
  				<td>6.300 &euro;</td>
  				<td>11.000 &euro;</td>
			<tr>
				<td>Annuel</td>
				<td>2.500 &euro;</td>
				<td>11.000 &euro;</td>
				<td>20.000&euro;</td>
			</tr>
      </table>
      <br>
      <br>
      <div class="text-center">
          <button class="btn btn-primary third-row-button">
                &nbsp;&nbsp;&nbsp;
                Souscrire (&agrave; venir)
                &nbsp;&nbsp;&nbsp;
          </button>
      </div>
    </div>
  </div>
    <div class="row fourth-row-separator">
        <br>
        <br>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/customhome/css/Campus.css') }}"
          type="text/css"
    />
{% endblock %}
