{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="row banner-row">
        <div class="col-md-12">
            <img src="{{ asset('uploads/customhome/pictures/technicalSupport/Banner.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
    </div>
                 
    <div class="row first-row">
        <br>
        <br>
        <div class="col-md-4 col-md-offset-1 first-row-image">
            <img src="{{ asset('uploads/customhome/pictures/technicalSupport/shutterstock_239914771.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
        <div class="col-md-5 col-md-offset-1 first-row-text">
            <h3 class="text-center first-row-text-title">
                Support technique Forma-Libre
            </h3>
            <p class="first-row-text-content">
                Vous hébergez votre propre plateforme Claroline Connect ? Soucieux de vous accompagner dans le déploiement de votre plateforme, Forma-Libre S.A. vous propose son service d'assistance technique. Nous vous proposons 4 offres de support technique.
            </p>
        </div>
    </div>
    <div class="row first-row-separator">
        <br>
        <br>
    </div>
                 
    <div class="row second-row">
        <br>
        <br>
        <div class="col-md-5 col-md-offset-1 second-row-text">
            <h3 class="text-center second-row-text-title">
                Choisissez l'offre de support qui vous convient 
            </h3>
            <p class="second-row-text-content">
                Nos offres de support vous mettent en contact avec nos équipes de support ou de développement. Nous vous proposons 4 offres de support afin de correspondre à vos besoins spécifiques.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1 second-row-image">
            <img src="{{ asset('uploads/customhome/pictures/technicalSupport/shutterstock_278570057.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
    </div>
    <div class="row second-row-separator">
        <br>
        <br>
    </div>
                 
    <div class="row third-row">
        <br>
        <br>
        <div class="col-md-8 col-md-offset-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="title-table-row">
                        <th colspan="5">
                            <h2>
                                Caractéristiques des supports<sup>1</sup>
                            </h2>
                        </th>
                    </tr>
                    <tr class="title-table-row">
                        <th></th>
                        <th class="text-center">
                            Bronze
                        </th>
                        <th class="text-center">
                            Silver
                        </th>
                        <th class="text-center">
                            Gold
                        </th>
                        <th class="text-center">
                            Membres effectifs
                        </th>
                    </tr>
                    <tr class="odd-table-row">
                        <th class="text-center">
                            Contact via
                        </th>
                        <td class="text-center">
                            Mail
                        </td>
                        <td class="text-center">
                            Mail / Téléphone
                        </td>
                        <td class="text-center">
                            Mail / Téléphone
                        </td>
                        <td class="text-center">
                            Mail / Téléphone
                        </td>
                    </tr>
                    <tr class="even-table-row">
                        <th class="text-center">
                            Prise en charge
                        </th>
                        <td class="text-center">
                            1j ouvrable<sup>2</sup>
                        </td>
                        <td class="text-center">
                            4h ouvrables<sup>2</sup>
                        </td>
                        <td class="text-center">
                            7/24
                        </td>
                        <td class="text-center">
                            7/24
                        </td>
                    </tr>
                    <tr class="odd-table-row">
                        <th class="text-center">
                            Multi-serveur
                        </th>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                    </tr>
                    <tr class="even-table-row">
                        <th class="text-center">
                            Correctif
                        </th>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                    </tr>
                    <tr class="odd-table-row">
                        <th class="text-center">
                            Notification
                        </th>
                        <td class="text-center">
                            Sécurité
                        </td>
                        <td class="text-center">
                            Sécurité
                        </td>
                        <td class="text-center">
                            Sécurité / Correctifs
                        </td>
                        <td class="text-center">
                            Sécurité / Correctifs
                        </td>
                    </tr>
                    <tr class="even-table-row">
                        <th class="text-center">
                            Incidents inclus
                        </th>
                        <td class="text-center">
                            20 crédits
                        </td>
                        <td class="text-center">
                            50 crédits
                        </td>
                        <td class="text-center">
                            100 crédits
                        </td>
                        <td class="text-center">
                            100 crédits
                        </td>
                    </tr>
                    <tr class="odd-table-row">
                        <th class="text-center">
                            Annual Health check
                        </th>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            1/an
                        </td>
                        <td class="text-center">
                            1/an
                        </td>
                    </tr>
                    <tr class="even-table-row">
                        <th class="text-center">
                            Personne dédiée
                        </th>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                    </tr>
                    <tr class="odd-table-row">
                        <th class="text-center">
                            Support développeur
                        </th>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Non
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                        <td class="text-center">
                            Oui
                        </td>
                    </tr>
                    <tr class="even-table-row">
                        <th class="text-center">
                            Prix
                        </th>
                        <td class="text-center">
                            500€
                        </td>
                        <td class="text-center">
                            3000€
                        </td>
                        <td class="text-center">
                            6000€
                        </td>
                        <td class="text-center">
                            /
                        </td>
                    </tr>
                </table>
            </div>
            <small>
                <p>
                    <sup>1</sup>
                    Les offres de support n'incluent pas l'installation de composants, le développement sur mesure, la surveillance préventive, la formation ou la documentation.
                </p>
                <p>
                    <sup>2</sup>
                    jour ouvrable = du lundi au vendredi de 8h00 à 18h00 hors jours fériés.
                </p>
            </small>
            <br>
            <br>
            <div class="text-center">
                <button class="btn btn-primary third-row-button">
                    &nbsp;&nbsp;&nbsp;
                    Souscrire
                    &nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
    <div class="row third-row-separator">
        <br>
        <br>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/customhome/css/technicalSupport.css') }}"
          type="text/css"
    />
{% endblock %}