{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
     <div class="row banner-row">
        <img src="{{ asset('uploads/customhome/pictures/technicalSupport/Banner2.jpg') }}"
             class="img-responsive"
             alt="Responsive image"
        >
    </div>

    <div class="row first-row">
        <br>
        <br>
        <div class="col-md-3 col-md-offset-3 first-row-image">
            <img src="{{ asset('uploads/customhome/pictures/technicalSupport/shutterstock_239914771.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
        <div class="col-md-4 first-row-text">
            <h3 class="text-center first-row-text-title">
                Support technique Forma-Libre
            </h3>
			<br>
            <p class="first-row-text-content">
                Vous h&eacute;bergez votre propre plateforme Claroline Connect ? Soucieux de vous accompagner dans le d&eacuteploiement de votre plateforme, Forma-Libre vous propose son service d'assistance technique. Nous vous proposons 4 offres de support technique.
            </p>
        </div>
    </div>
    <div class="row first-row-separator">
        <br>
        <br>
    </div>

    <div class="row second-row">
        <br>
        <br>
        <div class="col-md-4 col-md-offset-3 second-row-text">
            <h3 class="text-center second-row-text-title">
                Choisisser l'offre de support qui vous convient
            </h3>
			<br>
            <p class="second-row-text-content">
                Nos offres de support vous mettent en contact avec nos &eacutequipes de support ou de d&eacuteveloppement. Nous vous proposons 4 offres de support afin de correspondre &agrave vos besoins sp&eacutecifiques.
            </p>
        </div>
        <div class="col-md-3 second-row-image">
            <img src="{{ asset('uploads/customhome/pictures/technicalSupport/shutterstock_278570057.jpg') }}"
                 class="img-responsive"
                 alt="Responsive image"
            >
        </div>
    </div>
    <div class="row second-row-separator">
        <br>
        <br>
    </div>


    <div class="row forth-row">
        <br>
        <br>
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Caract&eacuteristique</th>
                        <th>Bronze</th>
                        <th>Silver</th>
                        <th>Gold</th>
                        <th>Membres effectifs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Contact via</td>
                        <td>Mail</td>
                        <td>Mail/t&eacutel&eacutephone</td>
                        <td>Mail/t&eacutel&eacutephone</td>
                        <td>Mail/t&eacutel&eacutephone</td>
                    </tr>
                    <tr>
                        <td>Prise en charge</td>
                        <td>1j ouvrable</td>
                        <td>4heures ouvrables</td>
                        <td>7/24</td>
                        <td>7/24</td>
                    </tr>
                    <tr>
                        <td>Multi-serveur</td>
                        <td>Non</td>
                        <td>Non</td>
                        <td>Oui</td>
                        <td>Oui</td>
                    <tr>
                        <td>Correctifs</td>
                        <td>Non</td>
                        <td>Non</td>
                        <td>Oui</td>
                        <td>Oui</td>
                    </tr>
                    <tr>
                        <td>Notifications</td>
                        <td>S&eacutecurit&eacute</td>
                        <td>S&eacutecurit&eacute</td>
                        <td>S&eacutecurit&eacute / Correctifs</td>
                        <td>S&eacutecurit&eacute / Correctifs</td>
                    </tr>
                    <tr>
                        <td>Incidents inclus</td>
                        <td>20 cr&eacutedits</td>
                        <td>50 cr&eacutedits</td>
                        <td>100 cr&eacutedits</td>
                        <td>200 cr&eacutedits</td>
                    </tr>
                    <tr>
                        <td>Annual Health Check</td>
                        <td>Non</td>
                        <td>Non</td>
                        <td>Oui</td>
                        <td>Oui</td>
                    </tr>
                    <tr>
                        <td>Personne d&eacutedi&eacutee</td>
                        <td>Non</td>
                        <td>Non</td>
                        <td>Oui</td>
                        <td>Oui</td>
                    </tr>
                    <tr>
                        <td>Support d&eacuteveloppeur</td>
                        <td>Non</td>
                        <td>Non</td>
                        <td>Oui</td>
                        <td>Oui</td>
                    </tr>
                    <tr>
                        <td>Les prix</td>
                        <td>1000 &euro;</td>
                        <td>3000 &euro;</td>
                        <td>6000 &euro;</td>
                        <td>Voir <a href="http://www.claroline.net/">claroline.net</a><td>
                    </tr>
                </tbody>
            </table>
       <br>
       <br>
            <small>
                <p>
                    <sup>1</sup>
                    Les offres de support n'incluent pas l'installation de composants, le d&eacuteveloppement sur mesure, la surveillance pr&eacuteventive, la formation ou la documentation.
                </p>
                <p>
                    <sup>2</sup>
                    jour ouvrable = du lundi au vendredi de 8h00 à 18h00 hors jours f&eacuteri&eacutes.
                </p>
            </small>
            <br>
            <br>
            <div class="text-center">
                <button class="btn btn-primary third-row-button">
                    &nbsp;&nbsp;&nbsp;
                    Souscrire (&agrave; venir)
                    &nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
    <div class="row third-row-separator">
        <br>
        <br>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/customhome/css/technicalSupport.css') }}"
          type="text/css"
    />
{% endblock %}
